<%- include("includes/head.ejs")%>

<body>
    <h1>This is the home page</h1>
    <h3><%=["hello", "bonjour", "namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque hic corporis exercitationem consectetur. Perspiciatis, reprehenderit. Quo harum, excepturi sit repellat assumenda natus, obcaecati incidunt ad voluptatibus ut veritatis adipisci quidem.</p>
    <button>Click me!</button> 

    <%- include("includes/footer.ejs") %>
</body>
</html>